<div class="container__big-card">
  <div>
    <div class="big-card__photo">
      <img
      src="https://i.pinimg.com/1200x/e3/02/c7/e302c7735be9b05571fd1df1868464b4.jpg" alt=""
      height="200px"
      srcset=""
      >
    </div>
  </div>
  <div class="big-card__title">
    <h1>
      <a href="">Saiu a nova versão do Angular</a>
    </h1>
  </div>
  <div class="big-card__description">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dictum tincidunt quam, quis facilisis massa interdum eget. Nullam eget lorem massa. Suspendisse vel odio et libero efficitur molestie ac quis quam. Curabitur leo libero.</p>
  </div>
</div>
